@charset "UTF-8";

/* 
cores 
#C5EBD6
#83E1AD
#3DDC84
#2FA866
#063D1E
*/

/*config gerais*/
:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #063d1e;
  --font0: Arial, Helvetica, sans-serif;
  --fonte1: "Bebas Neue", cursive;
  --fonte2: "Android", sans-serif;
}

* {
  font-family: var(--fonte0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Android";
  src: url(../fontes/idroid.otf) format("opentype");
}

body {
  font-family: var(--font0);
  background-color: var(--cor0);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a.externo::after{
  content: "\00A0\1f517"; 
}

/*Cabeçalho.*/
header {
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor4) 30%, var(--cor2) 60%, var(--cor4) );
  color: white;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-attachment: fixed;
  min-height: 150px;
  box-shadow: 0px 0px 10px var(--cor4);
}
header h1 {
  margin: 0;
  font-size: 3em;
  font-family: var(--fonte0);
  font-weight: bold;
}
header > p {
  margin: 10px;
  padding: 3px;
  font-size: 1.2em;
}

/*Menu de navegação*/
header > nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header > nav > ul > li {
  margin: 0 10px;
}

header > nav > ul > li > a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition-duration: 1s;
}
header > nav > ul > li > a:hover {
  background-color: var(--cor4);
  color: white;
}

/*Conteúdo principal*/
main {
  font-size: 1.2em;
  padding: 20px;
  margin: 20px auto;
  min-width: 320px;
  max-width: 1000px;
  min-height: 320px;
  max-height: 1000px;
}

main > article {
  background-color: white;
  padding: 20px;
  border-radius: 10px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main > article > picture > img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 10px;
}

main > article > img#bugdroid {
  margin: 0 auto;
  display: block;
}

main > article > h1 {
  font-family: var(--fonte2);
  color: var(--cor3);
  font-size: 1.5em;
}

main > article > h2 {
  font-family: var(--fonte2);
  color: var(--cor3);
  font-size: 1.2em;
  background-image: linear-gradient(to right, var(--cor0), transparent);
}

main > article > p > .destaque {
  color: var(--cor3);
  font-weight: bold;
}

main > article > p > a {
  color: var(--cor3);
  text-decoration: none;
}

main > article > p {
  line-height: 2em;
  margin: 15px 0px;
  text-align: justify;
  font-size: 1em;
  text-indent: 30px;
}

main > article > p::first-letter {
  margin-left: 10px;
  font-size: 1.1em;
}

/*Video*/
div.video {
  position: relative;
  background-color: var(--cor4);
  height: 0px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 15px;
  padding-bottom: 59%;
}

.video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

/*aside*/
aside {
  background-color: var(--cor0);
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.destaque {
  color: var(--cor3);
}

.titulo-aside {
  background-color: var(--cor3);
  border: 1px solid var(--cor2);
  color: white;
  padding: 3px;
  border-radius: 10px 10px 0px 0px;
  font-family: var(--fonte0);
  font-size: 1.5em;
}

aside > p::first-letter {
  margin-left: 10px;
  font-size: 1.1em;
}

aside > ul{
  list-style-type: "\2714\0020\0020";
  columns: 2;
  list-style-position: inside;
}

aside > p > a {
  color: var(--cor3);
  text-decoration: none;
}

aside > p {
  line-height: 2em;
  margin: 10px 0px;
  text-align: justify;
  font-size: 1em;
  text-indent: 20px;
  padding: 0px 10px;
}

/*Rodapé*/
footer{
  font-family: var(--fonte0);
  background-color: var(--cor4);
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px var(--cor4);
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer > p {
  margin: 5px;
  padding: 3px;
  font-size: 1.2em;
}
